<h1>Peeps</h1>
<h2>Hoi, we bent geen appel</h2>
<h3>Welterusten, ik ben een vork en een koe</h3>

<%= link_to "New Post", new_peep_path %>


<ul>
  <% @peeps.each do |peep| %>
  <li>
    <%= link_to peep.body, peep %>
  </li>
  <% end %>
</ul>

